@import '../../styles/global.scss';

.container {
    margin-left: 200px;
    padding: 1px 1rem;
}

@media (max-width:700px) {
    .container {
        margin-left: 0;
    }
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        margin: 2rem 0;
        font-weight: 600;
        font-size: 1.4rem;
    }
}

.more {
    margin: 1rem 0;
    padding: .5rem 1rem;
    border: 0;
    font-size: 1rem;
    height: 35px;
    font-weight: 500;
    background: $bgColor100;
    color: $bgColor400;
}

.new {
    float: right;
    margin-bottom: 1.5rem;
    background: $contrabg;
    color: $text2;
    border: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: ease-in 0.3s;

    svg {
        margin-right: 5px;
    }

    &:hover {
        filter: brightness(0.9);
        transform: scale(1.1);
    }
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    th,
    td {
        padding: .62rem;
        text-align: center;
    }

    caption {
        font-size: 1.5rem;
        margin: .5rem 0 .75rem;
    }

    th {
        font-size: .85rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }

    tr {
        background-color: $bgColor200;
        border: 1px solid $bgColor100;
        padding: .35rem;
    }

    td {
        .action {
            border: 0;
            padding: 5px;
            margin-right: 2px;
            align-items: center;
            display: inline-block;

            svg {
                vertical-align: middle;
            }
        }

        .badge {
            padding: 3px;
            border-radius: 3px;
            color: $bgColor200;
        }
    }
}

@media screen and (max-width:600px) {
    table {
        border: 0;

        //remove thead=======
        caption {
            font-size: 1.3rem;
        }

        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        //============
        //formatar por linha e colocar tudo na direita
        tr {
            border-bottom: 1px solid #ddd;
        }

        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8rem;
            text-align: right;

            &::before {
                //pegando o atributo data-label e colocando na tela
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}