@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

$bgColor400: #201b2c;
$bgColor200: #2f2841;
$bgColor100: #514869;
$text1 : #f0ffffde;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*:focus {
    // outline: 0;
}

html,
body,
#root {}

body {
    font: 1rem 'Roboto', sans-serif;
    background: $bgColor400;
    color: $text1;

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    button {
        cursor: pointer;
    }
}