<<<<<<< HEAD
.modal{
    
}
=======
@import '../../styles/global.scss';

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: .5);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    z-index: 100;
    

    &_container{
        position: fixed;
        max-width: 600px;
        top: 15%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 3rem 2rem;
        background: rgba($bgColor400, 0.9 );
        box-shadow: 0 2px 14px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
         color:$text1;
        //color: $bgColor100;

        &_close{
            background: #f65835;
            color: #fff;
            position: absolute;
            top: 15px;
            left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 15px;

            // svg{
            //     margin-right: 5px;
            // }
        }

        h2{
            margin-bottom: 1.2rem;
            font-size: 2rem;
            margin-top: 1.2rem;
        }

        span{
            font-weight: 600;
            font-size: 1.2rem;
            i {
                font-weight: 400;
                margin-right: 1rem;
                padding: 2px 8px;
                border-radius: 3px;
            }
        }

        &_row{
            margin-bottom: 1rem;
        }

        p{
            padding-top:0.5rem ;
            white-space: pre-wrap;
            //quando tiver muito conteúdo ele vai pegar a formatação espaços em branco etc
        }
    }
}

>>>>>>> e907568be63f7ad522091840059c51f1a70e2c14
